@font-face{
    font-family: Mikael;
    src: local();
}

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;}/* reset page */


header{
    background-color:red ;
}

body{
    background-color: blueviolet;
}

.cabeçalho{
    margin: 0%;
}
h1{
    color: white;
}
h2{
    color: tomato;
}